/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

body {
    display: block;
    background-color: rgb(var(--v-theme-background));
}


.fadeInCenter{
    animation: fadeIn 0.3s ease-out 0s 1 normal forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeInLeft{
    animation: fadeInLeft 0.3s ease-out 0s 1 normal forwards;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}